.header {


    .container {
        .header1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #000;

            .logo {
                img {
                    width: 100px;

                }
            }

            .menu {


                @media (max-width:768px) {
                    display: none;
                }


                a {
                    color: white;
                    margin: 0 50px 0 0;


                    &:hover {
                        text-shadow: 3px 3px 5px white;
                        text-decoration: underline;
                        transition: ease-in-out 1s;

                    }
                }
            }

            .slide {
                display: none;


                a {
                    color: white;
                    font-size: 20px;

                }

                @media (max-width:768px) {

                    display: block;
                }




            }

            .cart {

                display: flex;
                justify-content: flex-end;

                a {
                    color: white;
                    margin: 0 30px 0 0;
                    font-size: 20px;

                    &:hover {
                        font-size: 24px;
                        transition: ease-in-out .5s;
                    }
                }
            }
        }
    }
}